# Timezone
TZ=America/Sao_Paulo

# User/Group IDs
PUID=1000
PGID=1000

# Portainer Backup
PORTAINER_BACKUP_URL=http://host:9000
PORTAINER_BACKUP_TOKEN=your_portainer_api_token
PORTAINER_BACKUP_OVERWRITE=1
# 6 cron fields: sec, min, hour, day of month, month, day of week
PORTAINER_BACKUP_SCHEDULE=0 0 0 * * *
PORTAINER_BACKUP_STACKS=1
PORTAINER_BACKUP_DRYRUN=0
PORTAINER_BACKUP_CONCISE=1
PORTAINER_BACKUP_DIRECTORY=/backup
PORTAINER_BACKUP_FILENAME=portainer-backup.tar.gz
PORTAINER_BACKUP_HOST_PATH=/home/username/Admin/portainer/backup

# Cloudflare Tunnel
CLOUDFLARED_TUNNEL_TOKEN=your_cloudflare_tunnel_token
