# Timezone
TZ=America/Sao_Paulo

# User/Group IDs
PUID=1000
PGID=1000

# Host paths
STREAM_MEDIA_PATH=/media/username/HDD/stream
JELLYFIN_CONFIG_PATH=/home/username/Stream/jellyfin/config
JELLYFIN_CACHE_PATH=/home/username/Stream/jellyfin/cache
QBITTORRENT_CONFIG_PATH=/home/username/Stream/qbittorrent/config
SEERR_CONFIG_PATH=/home/username/Stream/seerr/config
JACKETT_CONFIG_PATH=/home/username/Stream/jackett/config
RADARR_CONFIG_PATH=/home/username/Stream/radarr/config
SONARR_CONFIG_PATH=/home/username/Stream/sonarr/config
BAZARR_CONFIG_PATH=/home/username/Stream/bazarr/config

# qBittorrent (porta interna da WebUI — acesso via Nginx Proxy Manager)
QBITTORRENT_WEBUI_PORT=8080
QBITTORRENT_UMASK=002

# Seerr
SEERR_LOG_LEVEL=debug

# Jackett
JACKETT_AUTO_UPDATE=true
